/* @theme my_theme */
@import 'styles';
​
  h2 {
      color: skyblue;
  }
​
  section {
      color: gray;
  }
​
  section.title {
      background-color: skyblue;
  }
​
  section.title h1{
      color: white;
  }
